---
layout: default
---

<div class="home">

  <h1 >Introduction </h1>

  <p > For the last 4 weeks we have been acting as a partner to Autohaem on a smear Malaria project. The project was to improve their current design for a device that would produce a good thin smear easily and reliably.</p>
  <p > Before we got involved, there was a base chasis for the smear to take place, but there was no mechanism in place to fix the glass slide inclined at an angle in place. Our project was focussed on creating a mechanism to do exactly that. </p>
  <p> A second aspect of the project that was considered was how we quantified what a good smear is. This was considered with a selection of image processing techniques and provided a quantative result for the sucess of our project. </p>

  <h1> Intial Problem </h1>
  <h2> Malaria </h2>
  <p> Malaria is one of the world's most infectious diseases and causes over 400,000 deaths per year, of which 94% of cases are in Africa. It is spread by mosquitos and is one of the world's deadliest diseases. However, despite this it is still very treatable if it is diagnosed early and quickly. In order to obtain an accurate diagnosis, there needs to be a microscope analysis of the patients fixed blood smears. There needs to be a thick and a thin smear that are then fixed separately. Once these are fixed, a doctor can then study the samples and detect any parasites that are in the patients blood. This would then provide the doctor with an accurate idea of the general diagnosis, species of malaria that has infected the patient and stage and density of the infection in the patient. Using all this information the correct treatment can then be administered. </p>
 
  <center> <img src="https://gitlab.com/dfp24/gm2-autohaem-malaria/-/raw/master/_images/Malaria.png"> </center>
  <p align="center">Map showing location of malaria cases around the world</p>
 
  <h2> Autohaem </h2>
  
  <p> Autohaem is an organisation based in Cambridge working mainly with a clinic in Tanzania. They work in tandem with the clinic, finding out what the problems are and where to solve them. Their main product at the moment is the smear and smear+, two devices that are used for malaria blood smearing that we are working on improving. </p>

  <h2> What is wrong with the smears at the moment? </h2>
  <p> Currently, in the countries that are worst affected by malaria, smears are done by hand. This presents an issue as smears done by hand often produce very inconsistant results, and this unreliability produces problems for detecting malaria.. Autohaem has already done research into this field, and a high percentage of the smears that produced are unusable to accurately diagnose malaria. This can be for a variety of reasons, but they can be segmented into three main categories: inconsistancies with imaging, inconsistancies in staining and inconsistancies in smearing. </p>

  <p> Inconsistancies in staining and inconsistancies with imaging are hard to improve, so the best place to start is focus on the problems that cause inconsistancies in smearing. These errors are when the thin blood smear is too thin, too thick or too streaky to name a few examples. Cutting down on these errors would therefore be the easiest way to improve the diagnosis of malaria. </p>

  <center><img src="https://gitlab.com/dfp24/gm2-autohaem-malaria/-/raw/master/_images/Smears_.jpeg" height="350"></center>
  <p align="center"> Procedure for performing a manual smear (A good smear is shown)</p>

  <h2> Initial Device </h2>
  <p> Autohaem's initial device consisted of: a main body which housed the horizontal slide and rods, a pair of rods to hold the slider mechanism and a slider mechanism designed to hold the inclined glass slide that will carry out the smear at an arbitrary angle. These can all be seen in the image below. However, this was all that there was. There was no mechanism to keep the slider in place and no optimisations had taken place. Therefore it was up to us as a team to add these features.</p>

  <center><img src="https://gitlab.com/dfp24/gm2-autohaem-malaria/-/raw/master/_images/Smear_smear+.png" ></center>
  <p align="center"> Autoheams's initial devices: Smear and Smear+ </p>

  <p> As can be seen above, Autohaem had two models, the Smear model where the slider was pushed forward and backward by hand or a spring and the Smear+ model that used a motor to control the speed. While we were working on the project, we focussed on the Smear due to the Smear+ not having all the required parts available, but as the system was modular this can be easily translated to the Smear+. </p>

  <h2> Current Solutions </h2>
  <p> Other machines have been previously made to automate blood smearing, but at a high cost. These machines cost in excess of £1000, which is not a good solution to distribute to the poorer areas, where malaria is most prevelant. This is where Autohaem's soltion comes in and shows why this will be a valuable asset to these areas. </p>

  <h1> Our Solution Overview </h1>
  <p> Our preferred solution consisted of a clamp mechanism to hold the glass slide in place, which is discussed in the "Compliant Mechanism" section and is shown below. This is an easy to use solution that produces reliable results, holding a glass slide in place securely for the duration of the smear. </p>
  <p> For the optimisations, it was discovered that there was ideal angle for the smears to be done mechanically, 70 degrees (discussed in the Angle Analysis). This gave a high density of cells that were evenly distributed and with minimal overlap. This happened to coincide with the minimum force applied to the glass slide, suggesting that it is ideal when the inclined slide is touching the horizontal slide but with minimal force (Discussed in Force and Speed Analysis). </p>
  <p> Speed was not fully investigated, but initial predictions suggests that faster smears give better results. This is discussed further in Next steps. </p>

  <center><img src="https://gitlab.com/dfp24/gm2-autohaem-malaria/-/raw/master/_images/Clamp.png" height="180"></center>
  <p align="center">One of the prototypes: The Clamp Mechanism</p>

  <h1> Project Pages</h1>
  <p> For a more in depth analysis about each aspect of our project, click on one of the links below. Each one focuses on a separate aspect that we worked on for the duration of the project. </p>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1> How does this help the sustainability goals? </h1>
  <h3> Sustainable development goals</h3>

  <p>The aim of the project relates to the third goal of sustainable development: Ensure healthy lives and promote well-being for all at all ages. Specifically it relates to Targets 3.2 and 3.3 of United Nations Sustainable development Goals: <a href="https://sdgs.un.org/goals/goal3?fbclid=IwAR3AXcqy0xwkG19Ec0NKs6QiJe8JTQBo0pBwIznfwa7SvY5haM72L94zafQ">(Can be viewed here)</a></p>

  <p>3.2 “By 2030, end preventable deaths of newborns and children under 5 years of age, with all countries aiming to reduce neonatal mortality to at least as low as 12 per 1,000 live births and under-5 mortality to at least as low as 25 per 1,000 live births”. Malaria results in over 400,00 deaths annually, worldwide, with children under 5 years of age accounted for about two thirds of all these deaths.</p>

  <p>3.3 “By 2030, end the epidemics of AIDS, tuberculosis, malaria and neglected tropical diseases and combat hepatitis, water-borne diseases and other communicable diseases” </p>

  <center> <img src="https://gitlab.com/dfp24/gm2-autohaem-malaria/-/raw/master/_images/Sustainable_development.png" width="180" height="180"> </center>
  <p align="center">Sustanable Development Goal 3 </p>

  <h3>Importance of diagnosis</h3>

  <p>Malaria must be diagnosed promptly so that the patient can receive the suitable medication. Delay in diagnosis and treatment leads to further spread of parasites in blood and can result in death of the patient. For this reason, the use of the 3D printed model to speed up and increase the accuracy of malaria diagnosis can have a significant effect on the lives of patients. Based on the work done in this project we believed that the 3D printed model has indeed the potential to contribute to the 3rd goal of sustainable development.</p>

</div>
